article{
    /* width: 100vw; */
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h3 {
    font-size: 28px;
}
p, li {
    font-size: 20px;
}