article{
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: center;
}
img {
    max-width: 60vw;
    min-width: 55vw;
    min-height: 55vh;
}
p {
    font-size: 28px;
}